//@import “node_modules/-styl//index.styl”

@import "./bootstrap-styl/index.styl"
primary = #06a2d0;
default = #fff
gray = #ddd
disabled = #ccc

.calendar-action

  &-prev, &-next
    position: relative
    cursor pointer
    padding: 0
    &:before
      content ''
      display: block
      width 32px
      height 32px
      border 2px primary solid
      transform translate(-50%,-50%) rotate(45deg) scale(.5)
      position: absolute
      top: 50%
      left: 50%
    &:hover
      &:before
        border-color darken(primary,30%)
  &-disabled
    &:before
      border-color disabled
    &:hover
      &:before
        border-color disabled

  &-prev
    &:before
      border-top: none
      border-right: none

  &-next
    &:before
      border-left none
      border-bottom none

  span
    display: none

.highlight
  color primary

.start-date

  background darkslategrey !important

.end-date
  background darkcyan !important

.popup
  display: none

.toolbar
  margin auto
  width 320px
  height: 34px
  position: relative
  .form-control
    padding-top: 0
    padding-bottom:0
    line-height 34px
  .input-group-addon
    z-index: 9
    width auto
    line-height 32px
    padding: 0 6px

  .popup
    position: absolute
    left:50%
    top: 36px
    border 1px #ccc solid
    border-radius 4px !important
    overflow: hidden
    padding: 6px
    width: 480px
    transform translateX(-50%)

