body {
  padding: 32px;
}

/**/

#container {
  display: flex;
  flex-direction: column;
  width: 720px;
  border: 1px #ccc solid;
}
#app {
  display: block;
  width: auto;
  display: flex;
}

.display-value {
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px #ccc solid;
  height: 24px;
}
#app .calendar {
  margin: 0;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
.highlight {
  color: #06a2d0;
}
.calendar-cell.start-date .date {
  background: #182828 !important;
}
.calendar-cell.end-date .date {
  background: #006f6f !important;
}
#datepicker {
  background-color: #fff;
}

#date-value {
  font-size: 14px;
  padding: 12px;
}
