body {
  padding: 32px;
}
#app {
  border: 1px #ccc solid;
  display: block;
  max-width: 480px;
  width: auto;
}
#app .calendar {
  margin: 0;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
.highlight {
  color: #06a2d0;
}
.calendar-cell.start-date .date {
  background: #182828 !important;
}
.calendar-cell.end-date .date {
  background: #006f6f !important;
}
#datepicker {
  background-color: #fff;
}

#date-value {
  font-size: 14px;
  padding: 12px;
}
