.calendar {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 240px;
}

/* if DEBUG { */
.calendar * {
  box-sizing: border-box;
}
/* endif */

.calendar .calendar-item {
  display: flex;
  align-items: flex-start;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.calendar .calendar-action {
  width: 24px;
  height: 24px;
  text-align: center;
  border: none;
  position: absolute;
  top: 0;
  z-index: 100;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-action:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px #06a2d0 solid;
  transform: rotate(45deg);
}
.calendar-action:hover:before {
  border-color: #047192;
}
.calendar-action.disabled:before {
  border-color: #ccc;
}
.calendar-action:hover:before {
  border-color: #ccc;
}

.calendar-action.prev:before {
  border-top: none;
  border-right: none;
  margin-left: 12px;
}
.calendar-action.next:before {
  border-left: none;
  border-bottom: none;
  margin-right: 12px;
}

.calendar .calendar-action:focus {
  outline: none;
}
.calendar .calendar-action.disabled {
  color: #ccc;
}
.calendar .calendar-action.prev {
  left: 0;
  float: left;
}
.calendar .calendar-action.next {
  right: 0;
  float: right;
}

.calendar .calendar-head,
.calendar .calendar-body,
.calendar .calendar-day {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.calendar .calendar-head {
  align-items: center;
  justify-content: center;
  height: 24px;
  position: relative;
}
.calendar .calendar-day {
  height: 24px;
}
.calendar .calendar-cell {
  font-size: 12px;
  width: 14.285714285714286%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  flex-direction: column;
}

.calendar .calendar-body .date {
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.calendar .calendar-cell:not(:empty) {
  cursor: pointer;
}
.calendar .calendar-cell ~ .calendar-cell.disabled {
  cursor: pointer;
}
.calendar .calendar-cell.disabled {
  color: #d6d6d6;
  cursor: default;
}
.calendar .calendar-cell.in-range .date {
  background: #eee;
}

.calendar .calendar-cell.inrange .date {
  background: #06a2d0;
}
.calendar .calendar-cell.active {
  position: relative;
}

.calendar .calendar-cell.active .date {
  color: #fff;
  background: #06a2d0;
}

.calendar.calendar-double-views {
  width: 100%;
  max-width: none;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  width: 480px;
}

.calendar.calendar-double-views .calendar-item {
  width: 50%;
}

.calendar-title {
  font-size: 12px;
}
