brand = #06a2d0;
brand-default = #fff
brand-gray = #ddd
brand-disabled = #ccc
.calendar
  position: relative
  box-sizing border-box
  margin auto
  *
    box-sizing border-box
  .calendar-main
    position: relative
  .calendar-action
    width: 44px
    height: 44px
    text-align: center
    background #fff
    border: none
    position absolute
    top 0
    z-index 100
    
    &:focus
      outline: none
    &.disabled
      color brand-disabled
    &-prev
      left 0
      float: left
    &-next
      right 0
      float: right
  .calendar-action-bar
    height: 44px
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 9
  .calendar-body, .calendar-day
    font-size: 0
  .calendar-day
    text-align: center
    position: relative
    height: 44px
    &-cell
      height: 44px
      line-height 44px
  .calendar-cell
    font-size: 14px
    width (100 / 7) * 1%
    display: inline-block
    vertical-align: top
  .calendar-date-cell
    min-height: 64px
    height 2rem
    text-align: center
    position: relative
    .date
      padding-left: 4px
      padding-top: 4px
      font-size: 14px
      text-align: center
    .label
      font-size: 12px
      position: absolute
      top: 6px
      left: 6px
      display: none
    .value
      font-size: 12px
      text-align: center
      padding-right: 4px

    &:not(:empty)
      cursor pointer
    & ~ &.disabled
      cursor pointer
    &.disabled
      color lighten(brand-disabled, 20%)
      cursor default
    &.in-range
      background #eee
    &.active
      position: relative
      color brand-default
      background brand

  &.calendar-double-views
    width: 100%
    max-width none
    font-size: 0
    .calendar-main
      width: 50%
      vertical-align: top
      display: inline-block
    .calendar-head
      height: 44px
      position: relative
      line-height 44px
      text-align: center
  &.calendar-flat-view, &.calendar-single-view
    max-width 768px
  &.calendar-flat-view, &.calendar-single-view
    .calendar-title
      height: 44px
      text-align: center
      line-height 44px

.calendar-title
  span
    font-size: 14px

.calendar-single-view
  .calendar-title
    position: absolute
    top: 0
    left: 50%
    transform translateX(-50%)
    z-index 1000
    span
      cursor pointer
      display: inline-block
      padding 0 8px
  .calendar-main
    padding-top: 44px

.extra-panel
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-color #fff
  right: 0
  z-index: 100
  h3
      padding-left: 16px
      cursor pointer
  .extra-item
      display: inline-block
      vertical-align: top
      width (100 / 4) * 1%
      text-align: center
      height (100 / 3) * 1%
      position: relative
      cursor pointer
      font-size 16px
      &.active
        background-color brand
        color brand-default
      span
        position: absolute
        transform translate(-50%, -50%)
        top: 50%
        left: 50%

.no-data
  .calendar-title
    cursor pointer