.calendar {
  position: relative;
  box-sizing: border-box;
  margin: auto;
}
.calendar * {
  box-sizing: border-box;
}
.calendar .calendar-item {
  position: relative;
}
.calendar .calendar-action {
  width: 44px;
  height: 44px;
  text-align: center;
  border: none;
  position: absolute;
  top: 0;
  z-index: 100;
  font-size: 12px;
}
.calendar .calendar-action:focus {
  outline: none;
}
.calendar .calendar-action.disabled {
  color: #ccc;
}
.calendar .calendar-action.prev {
  left: 0;
  float: left;
}
.calendar .calendar-action.next {
  right: 0;
  float: right;
}
.calendar .calendar-action-bar {
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.calendar .calendar-body,
.calendar .calendar-day {
  font-size: 0;
  text-align: left;
}
.calendar .calendar-body .calendar-cell,
.calendar .calendar-day .calendar-cell {
  font-size: 14px;
  width: 14.285714285714286%;
  display: inline-block;
  vertical-align: top;
}
.calendar .calendar-day {
  position: relative;
  height: 44px;
}
.calendar .calendar-day .calendar-cell {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.calendar .calendar-body .calendar-cell {
  min-height: 64px;
  height: 2rem;
  text-align: center;
  position: relative;
}
.calendar .calendar-body .date {
  padding-left: 4px;
  padding-top: 4px;
  font-size: 14px;
  text-align: center;
}
.calendar .calendar-body .label {
  font-size: 12px;
  position: absolute;
  top: 6px;
  left: 6px;
  display: none;
}
.calendar .calendar-body .value {
  font-size: 12px;
  text-align: center;
  padding-right: 4px;
}
.calendar .calendar-body .calendar-cell:not(:empty) {
  cursor: pointer;
}
.calendar .calendar-body .calendar-cell ~ .calendar-cell.disabled {
  cursor: pointer;
}
.calendar .calendar-body .calendar-cell.disabled {
  color: #d6d6d6;
  cursor: default;
}
.calendar .calendar-body .calendar-cell.in-range {
  background: #eee;
}
.calendar .calendar-body .calendar-cell.active {
  position: relative;
  color: #fff;
  background: #06a2d0;
}
.calendar .calendar-head {
  height: 44px;
  position: relative;
  line-height: 44px;
  text-align: center;
}
.calendar.calendar-double-views {
  width: 100%;
  max-width: none;
  font-size: 0;
}
.calendar.calendar-double-views .calendar-item {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.calendar.calendar-flat-view,
.calendar.calendar-single-view {
  max-width: 768px;
}
.calendar.calendar-flat-view .calendar-title,
.calendar.calendar-single-view .calendar-title {
  height: 44px;
  text-align: center;
  line-height: 44px;
}
.calendar-title span {
  font-size: 14px;
}
.calendar-single-view .calendar-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.calendar-single-view .calendar-title span {
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
}
