.calendar {
  position: relative;
  box-sizing: border-box;
}
.calendar * {
  box-sizing: border-box;
}
.calendar-main {
  position: relative;
}
.calendar-action {
  position: absolute;
  top: 1px;
  width: 44px;
  height: 43px;
  text-align: center;
  z-index: 9;
  background: #fff;
  border: none;
}
.calendar-action:focus {
  outline: none;
}
.calendar-action.disabled {
  background: #ccc;
}
.calendar-action-prev {
  left: 1px;
}
.calendar-action-next {
  right: 1px;
}
.calendar-body,
.calendar-day {
  font-size: 0;
}
.calendar-day {
  text-align: center;
  position: relative;
  border-bottom: 1px #ddd solid;
  height: 24px;
}
.calendar-day-cell {
  height: 24px;
  line-height: 24px;
}
.calendar-cell {
  font-size: 14px;
  width: 14.285714285714286%;
  display: inline-block;
  vertical-align: top;
}
.calendar-date-cell {
  min-height: 64px;
  height: 2rem;
  text-align: center;
  position: relative;
}
.calendar-date-cell .date {
  padding-left: 4px;
  padding-top: 4px;
  font-size: 14px;
  text-align: center;
}
.calendar-date-cell .label {
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 6px;
}
.calendar-date-cell .value {
  font-size: 12px;
  text-align: center;
  padding-right: 4px;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
}
.calendar-date-cell:not(:empty) {
  cursor: pointer;
}
.calendar-date-cell.disabled {
  color: #ccc;
  cursor: default;
}
.calendar-date-cell.in-range {
  background: #19c5f8;
  color: #fff;
}
.calendar-date-cell.active {
  position: relative;
  color: #fff;
  background: #06a2d0;
}
.calendar-date-cell.active:before {
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  width: 1px;
  height: 100%;
  content: '';
  background: #06a2d0;
}
.calendar-double-views {
  width: 100%;
  max-width: none;
}
.calendar-double-views .calendar-main {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.calendar-double-views .calendar-head {
  height: 44px;
  position: relative;
  line-height: 44px;
  text-align: center;
}
.calendar-single-view {
  max-width: 768px;
}
.calendar-single-view .calendar-title {
  height: 44px;
  text-align: center;
  line-height: 44px;
}
